<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwAlerts/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:for each="{categoryList}" as="category">

        <div class="form__field width50">

            <f:form.checkbox
                id="alert-category-{category.uid}"
                class="checkbox"
                value="{category.uid}"
                checked="<rkw:category category='{category}' />"
                multiple="true"
                name="newCategoryList"
            />
            <label class="checkbox-label" for="alert-category-{category.uid}">
                {category.title}
            </label>
        </div>

    </f:for>

</html>