<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ajaxApi="http://typo3.org/ns/Madj2k/AjaxApi/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:section name="Headline">
		<h3><f:translate key="partials_alerts_introduction.headline" /></h3>
	</f:section>

	<f:section name="Body">

		<ajaxApi:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">
			<div>
				<p>
					<f:comment><!-- Check if form is to be displayed --></f:comment>
					<f:if condition="{displayForm}">
						<f:then>
							<f:format.raw>
								<f:translate key="partials_alerts_introduction.text1" />

								<f:comment><!-- Check if user is logged in --></f:comment>
								<f:if condition="{frontendUser}">
									<f:then>
										<f:translate key="partials_alerts_introduction.text2_loggedIn"  />
									</f:then>
									<f:else>
										<f:translate key="partials_alerts_introduction.text2"  />
									</f:else>
								</f:if>
							</f:format.raw>
						</f:then>

						<f:comment><!-- if user has already subscribed --></f:comment>
						<f:else>
							<f:format.raw>
								<f:translate key="partials_alerts_introduction.text1_exists" arguments="{0 : category.title}" />
							</f:format.raw>
							<f:link.page pageUid="{settings.listPid}" target="_blank">
								<f:translate key="partials_alerts_introduction.text2_exists"/>
							</f:link.page>
						</f:else>
					</f:if>
				</p>
			</div>
		</ajaxApi:ajaxWrapper>
	</f:section>

</html>