<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{category}" >

        <f:comment><!-- Contents --></f:comment>
        <f:render partial="Alert/Introduction" section="Headline" arguments="{_all}"/>
        
        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:alert}"/>

        <f:render partial="Alert/Introduction" section="Body" arguments="{_all}"/>
        <f:render partial="Alert/Form" arguments="{_all}"/>

        <template
            class="ajax"
            id="tx-rkwalerts-ajax"
            data-ajax-ignore="1"
            data-ajax-url="{f:uri.action(action:'new', absolute:'1', additionalParams:'{ajax_api:\'{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \\\'1,2\\\'}\'}') -> f:format.raw()}"
        ></template>

        <f:comment><!-- only do an ajax-call if not ajax-post has been done AND a fe-cookie is set. This is to reduce requests to the server--></f:comment>
        <f:if condition="! {ajaxHelper.isPostCall}">
            <script type="text/javascript">
              if (document.cookie.indexOf('fe_logged_in=') > -1) {
                document.getElementById('tx-rkwalerts-ajax').setAttribute('data-ajax-ignore', 0);
              }
            </script>
        </f:if>
    </f:if>

</html>