<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:layout name="Email/{mailType}" />

	<!-- PLAINTEXT -->
	<f:section name="Plaintext"><rkwMailer:plaintextLineBreaks>
		<rkwMailer:frontend.translate key="templates_email_alert.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />
		\n\n
		<rkwMailer:frontend.translate key="templates_email_alert.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : alert.project.name}" />
		\n\n
		<f:render partial="Email/LinkList" section="Plaintext" arguments="{_all}"/>
		\n\n
		<rkwMailer:frontend.translate key="templates_email_alert.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : alert.project.name}" />
		\n\n
		<rkwMailer:frontend.translate key="templates_email_alert.loginLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts"/>:\n
		<rkwMailer:frontend.link absolute="true" pageUid="{loginPid}" noCacheHash="true" />
</rkwMailer:plaintextLineBreaks></f:section>

	<!-- HTML -->
	<f:section name="Html">
		<h1><rkwMailer:frontend.translate key="templates_email_alert.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
		<p><rkwMailer:frontend.translate key="templates_email_alert.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : alert.project.name}"/></p>

		<f:render partial="Email/LinkList" section="Html" arguments="{_all}"/>

		<p class="footer">
			<rkwMailer:frontend.translate key="templates_email_alert.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts" arguments="{0 : alert.project.name}"/><br>
			<a href="{rkwMailer:frontend.link(absolute:'true', pageUid:'{loginPid}', noCacheHash:'true')}">
				<rkwMailer:frontend.translate key="templates_email_alert.loginLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwAlerts"/>
			</a>
		</p>

	</f:section>
</html>
