<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:layout name="MeinRKW" />

	<f:section name="Default">
		<h3><f:translate key="templates_alert_deleteConfirm.headline" /></h3>

		<f:render partial="FlashMessages" arguments="{_all}" />

		<div class="system-message" role="alert">
			<div class="system-message__item system-message__item--severity-1 system-message--scroll">
				<f:translate key="templates_alert_deleteConfirm.description" arguments="{0 : alert.project.name}" />
			</div>
		</div>

		<div class="btn-list btn-list--footer">
			<f:link.action action="list" class="btn btn--secondary">
				<f:translate key="templates_alert_deleteConfirm.labelNo" />
			</f:link.action>

			<f:link.action action="delete" arguments="{alert : alert}" class="btn btn--primary">
				<f:translate key="templates_alert_deleteConfirm.labelYes" />
			</f:link.action>
		</div>

	</f:section>
</html>
