<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!-- PLAINTEXT -->
    <f:section name="Plaintext">
        <rkwMailer:email.replace.redirectLinks queueRecipient="{queueRecipient}" queueMail="{queueMail}" isPlaintext="true">
            <f:for each="{pages}" as="page">
                --------------------------------------------------------------------------------------\n
                <f:format.date format="d.m.Y">{page.lastUpdated}</f:format.date>: {page.title}\n
                --------------------------------------------------------------------------------------\n
                <f:if condition="{page.description}">{page.description}\n\n</f:if>
                <rkwMailer:email.uri.action noCacheHash="true" absolute="true" pageUid="{page.uid}" />
                \n\n
            </f:for>
        </rkwMailer:email.replace.redirectLinks>
    </f:section>


    <!-- HTML -->
    <f:section name="Html">
        <rkwMailer:email.replace.redirectLinks queueRecipient="{queueRecipient}" queueMail="{queueMail}">
            <table cellpadding="0" cellspacing="0" border="0" style="background-color:#eaeaea; margin-top:16px;">
                <f:for each="{pages}" as="page">
                    <tr>
                        <td style="padding:16px; border-bottom:16px solid #ffffff;">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <a href="{rkwMailer:email.uri.action(noCacheHash:'true', absolute:'true', pageUid:'{page.uid}')}"
                                           style="color: #E64415; font-size: 18px; line-height:22px; font-weight: 600; text-decoration: none;">
                                            <f:format.date format="d.m.Y">{page.lastUpdated}</f:format.date>: {page.title}
                                        </a>
                                    </td>
                                </tr>
                                <f:if condition="{page.txRkwBasicsTeaserImage}">
                                    <tr>
                                        <td style="padding-top:16px;">
                                            <rkwMailer:email.image image="{page.txRkwBasicsTeaserImage}"
                                                treatIdAsReference="true"
                                                absolute="false"
                                                alt="{page.title}"
                                                width="538"
                                                height="200c"
                                                style="border:1px solid #D3D3D3; display: block; width: 100%; height: auto" />
                                        </td>
                                    </tr>
                                </f:if>
                                <tr>
                                    <td style="padding-top:16px; line-height: 22px">
                                        <f:if condition="{page.description}">
                                            {page.description}<br><br>
                                        </f:if>
                                        <a href="{rkwMailer:email.uri.action(noCacheHash:'true', absolute:'true', pageUid:'{page.uid}')}">
                                            <rkwMailer:email.translate
                                                key="partials_email_linkList.readMore"
                                                languageKey="{frontendUser.txRkwregistrationLanguageKey}"
                                                extensionName="rkwAlerts" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </f:for>
            </table>
        </rkwMailer:email.replace.redirectLinks>
    </f:section>

</html>
