{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}
<!-- Default form -->
<f:section name="CreateForm" >

	<div class="v320-1">
		<label class="form-label" for="tx-rkwalerts-email">
			<f:translate key="partials_alerts_new.labelUsername" />
		</label>
		<f:form.textfield name="email" id="tx-rkwalerts-email" value="{email}" type="email" additionalAttributes="{autocomplete:'email'}"/>
	</div>

	<span class="checkbox">
		<label>
			<f:form.checkbox name="terms" value="1" />
			<span class="text-smaller">
				<f:link.page pageUid="{termsPid}" target="_blank">
					<f:translate key="partials_alerts_new.terms" />
				</f:link.page>
			</span>
		</label>
	</span>

	<span class="checkbox">
		<label>
			<f:form.checkbox name="privacy" value="1" />
			<f:format.raw><rkwRegistration:privacyText /></f:format.raw>
		</label>
	</span>
</f:section>


<!-- Select form -->
<f:section name="SelectForm" >

	<div class="v320-1">
		<label class="form-label" for="tx-rkwalerts-topic">
			<f:translate key="partials_alerts_new.labelTopic" />
		</label>
		<f:form.select property="project" id="tx-rkwalerts-topic" options="{projectList}" optionValueField="uid" optionLabelField="shortName" />
	</div>

</f:section>




<!-- Default introduction message  -->
<f:section name="IntroductionMessage">
	<p>
		<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introduction" arguments="{0 : project.name}" />
		&nbsp;<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionNotLoggedIn"  />
	</p>
</f:section>
<f:section name="IntroductionMessageSelect">
	<p>
		<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionSelect" />
		&nbsp;<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionNotLoggedIn"  />
	</p>
</f:section>



<!-- Introduction message for logged in users -->
<f:section name="IntroductionMessageLoggedIn">
	<p>
		<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introduction" arguments="{0 : project.name}" />
		&nbsp;<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionLoggedIn"  />
	</p>
</f:section>
<f:section name="IntroductionMessageSelectLoggedIn">
	<p>
		<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionSelect" />
		&nbsp;<f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.introductionLoggedIn" />
	</p>
</f:section>



<!-- Message if an alert has already been created -->
<f:section name="AlreadyExistingMessage">
	<p class="text-message"><f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.alertAlreadyExists" arguments="{0 : project.name}"/></p>
	<p><f:link.page pageUid="{listPid}" target="_blank"><f:translate key="LLL:EXT:rkw_alerts/Resources/Private/Language/locallang.xlf:partials_alerts_new.alertAlreadyExistsLabel"/></f:link.page></p>
</f:section>