{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:if condition="{selectFromList}">
		<f:then>
			<f:if condition="{projectList}">
				<f:render section="InnerPart" arguments="{_all}" />
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{project}" >
				<f:render section="InnerPart" arguments="{_all}"/>
			</f:if>
		</f:else>
	</f:if>

</f:section>


<!-- InnerPart -->
<f:section name="InnerPart">

	<f:form action="create" name="newAlert" object="{newAlert}" class="form-fields" >
		<div id="rkw-alerts-container" data-url="/?type=1446640418&id={pageUid}&L={languageUid}">
			<div id="rkw-alerts-introduction">
				<f:if condition="{selectFromList}">
					<f:then>
						<f:render partial="Alerts/New" section="IntroductionMessageSelect" arguments="{_all}"/>
					</f:then>
					<f:else>
						<f:render partial="Alerts/New" section="IntroductionMessage" arguments="{_all}"/>
					</f:else>
				</f:if>
			</div>

			<div id="rkw-alerts-form">
				<div class="v320-1-of-2">

					<f:if condition="{selectFromList}" >
						<f:then>
							<f:render partial="Alerts/New" section="SelectForm" arguments="{_all}"/>
						</f:then>
						<f:else>
							<f:form.hidden property="project" value="{project}"/>

                            <div id="rkw-alerts-form-inner">
                                <f:render partial="Alerts/New" section="CreateForm" arguments="{_all}"/>
                            </div>
						</f:else>
					</f:if>

					<button type="submit" class="button">
						<span><f:translate key="templates_alerts_new.labelCreateNew" /></span>
					</button>
				</div>
			</div>
		</div>
	</f:form>
</f:section>